/* GLOBAL */
body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #eaf8ff, #f5faff);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* HEADER */
.header {
  width: 90%;
  max-width: 1200px;     
  margin: 0 auto;        
  padding: 20px 0px;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 69px;
  width: auto;
}

.header .logo {
  font-size: 25px;
  font-weight: 700;
  color: #00a6a6;
}

.header nav a {
  margin: 0 15px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.btn-header {
  background: #00c4c4;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
}

/* TITLE */
.title {
  text-align: center;
  margin-top: 20px;
  font-size: 42px;
  color: #023047;
}

.subtitle {
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 15px;
  color: #555;
}

/* CARD */
.card {
  margin: 25px auto;
  width: 85%;
  max-width: 1100px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.left-box {
  width: 30%;
  min-width: 260px;
  background: #0bb6b6;
  padding: 40px;
  border-radius: 20px;
  color: white;
  text-align: justify;
}

.left-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-item {
  margin-top: 1px;
  font-size: 15px;
  line-height: 1.5;
}

/* FORM SIDE */
.form {
  width: 65%;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.input-group input,
.input-group textarea {
  border: none;
  border-bottom: 2px solid #00bfbf;
  padding: 8px;
  font-size: 16px;
  outline: none;
  background: transparent;
  color: black;
}

.btn-send {
  margin-top: 20px;
  background: #00bfbf;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  background: #f8fcfc;
  color: #023047;
  font-size: 14px;
  border-top: 2px solid #d9f3f3;
}

.footer p {
  margin: 0;
  font-weight: 500;
}

.social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 6px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-icon svg {
  fill: #00bfbf;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.social-icon:hover {
  background: #00bfbf;
}

.social-icon:hover svg {
  fill: white;
}